<component name="ArtifactManager">
  <artifact type="war" name="springmvchello:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvchello.war">
      <element id="artifact" artifact-name="springmvchello:war exploded" />
    </root>
  </artifact>
</component>